In [15]:
import collections
import pandas as pd
import datetime
import numpy as np
import json
import codecs

In [16]:
data_fr = pd.read_csv('../data/data_fr_split.csv', sep=';', usecols=np.arange(2,35))
corres_ICD10 = pd.read_csv('../data/corres_ICD10.csv', sep=';',usecols=[1,2,3,4,5])
corres_geo = pd.read_csv('../data/corres_geo.csv', sep=';', usecols=[1,2,3,4])

In [17]:
corres_geo.head()

  niveau_0 niveau_1 niveau_2                         region
0       FR       FR       FR                         France
1       FR      FR1      FR1                  ile de France
2       FR      FR1     FR10                  ile de France
3       FR      FR2      FR2    Bassin Parisien (NUTS 2013)
4       FR      FR2     FR21  Champagne-Ardenne (NUTS 2013)

In [18]:
corres_ICD10.head()

,niveau_0,niveau_1,niveau_2,niveau_3,maladies
0,A-R_V-Y,A-R_V-Y,A-R_V-Y,A-R_V-Y,Toutes causes de mortalite (A00-Y89) sauf S00-T98
1,A-R_V-Y,A_U,A_U,A_U,Causes interne de morbidite et mortalite
2,A-R_V-Y,A_U,A_B,A_B,Certaines maladies infectieuses et parasitaire...
3,A-R_V-Y,A_U,A_B,A15-A19_B90,Tuberculose
4,A-R_V-Y,A_U,A_B,B15-B19_B942,Hepatite virale et sequelles d'hepatite virale

In [19]:
# Nettoyage des donn√©es:
for col in data_fr.columns[11:]:
    data_fr[col] = data_fr[col].str.strip().replace({":":"NaN", ": z":"NaN"}).astype('float64')

In [20]:
data_fr.head()

,sex,age,geo_niv_0,geo_niv_1,geo_niv_2,region,icd10_niv_0,icd10_niv_1,icd10_niv_2,icd10_niv_3,...,2003,2002,2001,2000,1999,1998,1997,1996,1995,1994
0,F,TOTAL,FR,FR1,FR10,ile de France,A-R_V-Y,A_U,A_B,A15-A19_B90,...,1.3,1.2,1.4,1.5,1.7,1.5,1.4,1.4,1.6,1.4
1,F,TOTAL,FR,FR2,FR21,Champagne-Ardenne (NUTS 2013),A-R_V-Y,A_U,A_B,A15-A19_B90,...,1.2,1.2,2.0,0.7,2.2,0.7,0.9,2.2,1.3,2.8
2,F,TOTAL,FR,FR2,FR22,Picardie (NUTS 2013),A-R_V-Y,A_U,A_B,A15-A19_B90,...,0.9,1.6,1.6,1.4,1.1,1.3,1.3,1.2,1.0,1.7
3,F,TOTAL,FR,FR2,FR23,Haute-Normandie (NUTS 2013),A-R_V-Y,A_U,A_B,A15-A19_B90,...,1.5,1.4,2.7,1.4,2.5,1.4,1.8,1.1,2.1,2.1
4,F,TOTAL,FR,FR2,FR24,Centre (FR) (NUTS 2013),A-R_V-Y,A_U,A_B,A15-A19_B90,...,1.8,2.1,2.0,1.7,2.2,2.1,1.7,1.5,2.1,2.3

In [14]:
data_fr.to_csv('data_fr.csv')

In [9]:
# data_fr.drop(['geo_niv_2', 'icd10_niv_3'], inplace=True, axis=1)

In [37]:
df = data_fr.pivot_table(index=data_fr.columns[2:9].to_list(),
                   values=data_fr.columns[9:].to_list(),
                   columns=data_fr.columns[:2].to_list())
# df.to_json('arbo_1.json')

In [38]:
df = data_fr.pivot_table(index=data_fr.columns[2:9].to_list(),
                   values=data_fr.columns[9:].to_list(),
                   columns=data_fr.columns[:1].to_list())
# df.to_json('arbo_2.json')

In [13]:
# ============ Dictionnaires imbriqu√©s ===========
# ================================================

# def nested_dict():
#     return collections.defaultdict(nested_dict)
# result = nested_dict()

# for row in df.itertuples():
#     result[row.Index[0]][row.Index[1]][row.Index[2]][row.Index[3]][row.Index[4]][row.Index[5]] = row._1
    
# out = json.dumps(result)

# with open('test.json', 'w') as f:
#     f.write(out)