<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd

In [18]:
df = pd.read_csv('hlth_cd_acdr.tsv', sep='[\t,]')
df.columns.values[4] = 'geo'

/Users/colin/Dev/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [19]:
df.head()

,unit,sex,age,icd10,geo,2010,2009,2008,2007,2006,...,2003,2002,2001,2000,1999,1998,1997,1996,1995,1994
0,RT,F,TOTAL,A-R_V-Y,AL,:,:,:,:,:,...,509.7,459.3,417.0,452.4,:,:,:,:,:,:
1,RT,F,TOTAL,A-R_V-Y,AT,941.5,949.5,933.2,930.4,931.1,...,999.0,983.8,970.7,1004.8,1024.7,1017.2,1028.9,1056.7,1058.1,1056.9
2,RT,F,TOTAL,A-R_V-Y,AT11,1079.1,1036.6,1067.2,1070.6,1072.7,...,1153.7,1085.1,1034.0,1075.3,1149.5,1117.2,1140.6,1161.6,1133.4,1157.8
3,RT,F,TOTAL,A-R_V-Y,AT12,999.3,1024.0,1004.1,990.3,999.4,...,1074.7,1073.6,1055.7,1092.7,1105.8,1120.6,1116.8,1158.8,1156.7,1167.5
4,RT,F,TOTAL,A-R_V-Y,AT13,994.6,1008.1,995.0,1017.1,1013.4,...,1146.5,1166.4,1175.1,1236.0,1265.6,1238.3,1290.7,1358.2,1377.5,1366.4